body {
    font-family: var(--font-family);
}

a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
}

.hamburguer {
    display: none;
}

/* Mobile view */

@media screen and (max-width: 550px) {

    .navMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .hamburguer {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--text-color);
        cursor: pointer;
    }

    .navMenu a {
        display: none;
        width: 100%;
        text-align: center;
        padding: 1rem;
        margin: 0;
    }

    .navMenu.open a {
        display: block;
    }

    main h1 {
        position: static;
        text-align: center;
        margin: 1rem 0;
    }
}

.temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    place-items: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--background-color);
}

.header-content,
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: 1rem;
}